žjjujbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .task-management-system {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #000000;
  }
  
  .logout {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin-right: 2vh;
    background-color: #cac6c6;
    
  }
  
  .board {
    flex: 1;
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    background-color: #cac6c6;
    margin: 10px;
    border-radius: 5px;
    color: #000000;

  }
  
  .column h2 {
    margin-top: 0;
  }
  
  .tasks {
    margin-bottom: 20px;
  }
  
  .task {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  
  .input_box{
    width: calc(80% );
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  select{
    margin-left: 10px;
    border-radius: 10px;
    width: 13rem;
    height: 35px;
  }

  button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #000000;
    color: #ffffff;
  }
  

  .main-modal {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    width: 20%;
    color: black;
    z-index: 1;
    border-radius: 20px;
  }
  .modal-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }